@import url('https://fonts.googleapis.com/css2?family=Papyrus&display=swap');

body {
    margin: 0;
    padding: 0;
    font-family: 'Papyrus', sans-serif;
    /* Fuente similar a Avatar */
    background-color: #000000;
    /* Fondo negro */
    color: #ffffff;
    /* Texto blanco para mejor contraste */
    text-align: center;
}

h1 {
    color: #ffffff;
    margin-top: 20px;
    font-family: 'Papyrus', sans-serif;
    /* Aplicar la fuente a h1 */
}

h2 {
    color: #ffffff;
    margin-bottom: 20px;
    font-family: 'Papyrus', sans-serif;
    /* Aplicar la fuente a h2 */
}

h3 {
    color: #ffffff;
    font-size: 2em;
    /* Ajustar el tamaño de la fuente de h3 */
    margin-bottom: 20px;
    font-family: 'Papyrus', sans-serif;
    /* Aplicar la fuente a h3 */
}

.image-gallery {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
}

.centered-image {
    margin-bottom: 10px;
}

.centered-image img {
    max-width: 65%;
    height: auto;
    box-shadow: 0px 0px 40px rgba(109, 104, 104, 0.5);
}

.image-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    /* Tres columnas */
    gap: 50px;
    /* Espacio entre las imágenes */
    width: 100%;
    max-width: 900px;
    /* Ancho máximo del contenedor */
}

.image-grid img {
    width: 100%;
    height: auto;
    cursor: pointer;
    transition: transform 0.6s;
    transform-style: preserve-3d;
    box-shadow: 0px 0px 40px rgba(109, 104, 104, 0.5);
    /* Sombra alrededor de las imágenes */
    margin: 10px;
    /* Espacio entre las imágenes */
}

.image-grid img.flipped {
    transform: rotateY(180deg);
}
